.main{
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    margin-top: 30px;

}

.profile_img{
    border: 7px solid #fff;
    overflow: hidden;
    border-radius: 50%;
}
.name{
    margin-left: 10px;

}

.clientSetting{
    background-color: rgba(11, 36, 147, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin-top: 2rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    min-height: calc(100vh - 205px);
    padding: 50px;
    
}
.tab{
    display: flex;
}
.tab h5{
    padding: 10px;
}
.tab h5:hover{
    cursor: pointer;
    border-bottom: 4px solid  white;
}

.active{
    background-color: #fff;
    color: blue;
  }
